.border-bottom-thick {
  border-bottom: 2px solid #808080; /* Bootstrap primary blue color */
}

.text_font{
       font-family: "Sarabun", sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 18px;
}

.btn_windows{
 font-family: "Abel", sans-serif;
  font-weight: 200;
  background-color: #D9D9D9;
  height: 40px;
color: black;
border-radius: 30px;
border: 1px solid rgba(0, 0, 0, 0.41); 
}
.btn_windows:hover{
  background-color: #FBBF24;
color: black;
border: 1px solid #FBBF24; 
}



.btn_try{
 font-family: "Abel", sans-serif;
  font-weight: 200;
 
    background-color: #FD6137;
color: black;
border-radius: 30px;
/* border: 1px solid rgba(0, 0, 0, 0.41);  */
}
.btn_demo{
 font-family: "Abel", sans-serif;
  font-weight: 200;
  background-color: #1E4C4C;

color: rgb(255, 255, 255);
border-radius: 30px;
/* border: 1px solid rgba(0, 0, 0, 0.41);  */
}
.material-icons {
  vertical-align: middle;
  margin-right: 4px;
}
