.bg-color-gr {
    background: linear-gradient(to bottom, #05050E, #4A8E69);
}

.LaunchApp_button {
    background-color: black;
    text-align: center;
    color: white;
    font-family: 'Times New Roman';
    width: 150px;
    height: 50px;
    box-shadow: none;
    border: none;
    /* border-radius: 40px; */

}
.LaunchApp_button:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);

}



.rect_bg {
  display: flex;
  justify-content: space-around;
  align-items: center;
     background: linear-gradient(to right, #358870, white);
 margin: 50px;
  height: 700px;
  border-radius: 10px;
  position: relative;
}

.left-img img {
  max-width: 700px;
  height: auto;
  border-radius: 12px;
}

.right-imgs {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 100%;
  padding: 20px 0;
}

.small-img {
  max-width: 310px;
  height: auto;
  border-radius: 8px;
}

.top-img {
  margin-bottom: auto;
}

.bottom-img {
  margin-top: auto;
}


.simple{
   font-family: "Micro 5";
  font-weight: 400;
  font-style: normal;
  font-size: 84px;
  text-transform:capitalize;
}

.functioncore{
   font-family: "Nosifer", sans-serif;
  font-weight: 400;
  font-style: normal;
}