<div class="w-100 bg-color-gr pb-5">

    <div class="container-fluid ai-section d-flex align-items-center justify-content-center">
  <div class="row w-100 flex-wrap-reverse">
  
    <div class="col-md-6 d-flex align-items-center justify-content-center text-white">
      <div class="text-center text-md-start">
        <p class="simple">Simple, direct,</p>
        <p class="mb-1 simple">emphasizes</p>
        <p class="fs-4 mb-0 ps-4 functioncore">the AI's core function.</p>
      </div>
    </div>
      <div class="col-md-6 d-flex justify-content-center mb-4 mb-md-0">
      <img src="../../assets/AI IMG/iPhone 17.svg" class="img-fluid rounded" alt="AI Image" />
    </div>
  </div>
</div>
<div>
<h1 class="text-center text-white mt-5">
    Protect your data with <br />
    next-generation AI
  </h1>
</div>
<div>
<p class="text-center text-white py-5">
    Our Al-powered cybersecurity system identifies and neutralizes  <br /> threats in real-time, protecting personal and corporate data.
  </p>
</div>
<div class="text-center py-2">
<button class="LaunchApp_button">
Launch App
</button>
</div>

<div class="rect_bg py-4 d-flex">
  <!-- Left side image -->


  <!-- Right side two stacked images -->
  <div class="right-imgs d-flex flex-column justify-content-between">
    <img src="../../assets/AI IMG/sqaure1.svg" alt="Top Right Image" class="small-img top-img" />
    <img src="../../assets/AI IMG/s2.svg" alt="Bottom Right Image" class="small-img bottom-img" />
  </div>
    <div class="left-img">
    <img src="../../assets/AI IMG/mobile.svg" alt="Left Image" class="img-fluid" />
  </div>
</div>
<div>
<h1 class="text-center text-white mt-5">
    why choose us ?
  </h1>
</div>
<div>
<p class="text-center text-white mt-2">
the ultimate tool for those who valeue secrity  <br>
innovation and reliability
  </p>
</div>




<div class="p-4">
  <div class="row justify-content-around text-start">
    <!-- Card 1 -->
    <div class="col-md-3 mb-4 bg-danger p-4 rounded">
      <div class="d-flex">
        <i class="bi bi-shield-lock-fill fs-2 me-3"></i>
        <mat-icon>world</mat-icon>
        <div>
          <h5 class="fw-semibold mb-1">Intelligent Threat Detection</h5>
          <p class="text-white-50 mb-0">
            Advanced Algorithms Identify Potential Threats Before They Become Breaches.
          </p>
        </div>
      </div>
    </div>

    <!-- Card 2 -->
    <div class="col-md-3 mb-4 bg-danger px-4  py-5 rounded">
      <div class="d-flex">
        <i class="bi bi-shield-lock-fill fs-2 me-3"></i>
        <mat-icon>world</mat-icon>
        <div>
          <h5 class="fw-semibold mb-1">Intelligent Threat Detection</h5>
          <p class="text-white-50 mb-0">
            Advanced Algorithms Identify Potential Threats Before They Become Breaches.
          </p>
        </div>
      </div>
    </div>

    <!-- Card 3 -->
    <div class="col-md-3 mb-4 bg-danger p-4 rounded">
      <div class="d-flex">
        <i class="bi bi-shield-lock-fill fs-2 me-3"></i>
        <mat-icon>world</mat-icon>
        <div>
          <h5 class="fw-semibold mb-1">Intelligent Threat Detection</h5>
          <p class="text-white-50 mb-0">
            Advanced Algorithms Identify Potential Threats Before They Become Breaches.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

</div>

<app-footer></app-footer>