<div class="w-100 bg-color-gr pb-5">

    <div class="container-fluid ai-section d-flex align-items-center justify-content-center">
  <div class="row w-100 flex-wrap-reverse">
  
    <div class="col-md-6 d-flex align-items-center justify-content-center text-white">
      <div class="text-center text-md-start">
        <p class="fs-4 mb-1">Simple, direct,</p>
        <p class="fs-4 mb-1">emphasizes</p>
        <p class="fs-4 mb-0 ps-4">the AI's core function.</p>
      </div>
    </div>
      <div class="col-md-6 d-flex justify-content-center mb-4 mb-md-0">
      <img src="../../assets/AI IMG/iPhone 17.svg" class="img-fluid rounded" alt="AI Image" />
    </div>
  </div>
</div>
<div>
<h1 class="text-center text-white mt-5">
    Protect your data with <br />
    next-generation AI
  </h1>
</div>
<div>
<p class="text-center text-white py-5">
    Our Al-powered cybersecurity system identifies and neutralizes  <br /> threats in real-time, protecting personal and corporate data.
  </p>
</div>
<div class="text-center py-2">
<button class="LaunchApp_button">
Launch app
</button>
</div>

<div class="rect_bg d-flex">
  <!-- Left side image -->


  <!-- Right side two stacked images -->
  <div class="right-imgs d-flex flex-column justify-content-between">
    <img src="../../assets/AI IMG/sqaure1.svg" alt="Top Right Image" class="small-img top-img" />
    <img src="../../assets/AI IMG/s2.svg" alt="Bottom Right Image" class="small-img bottom-img" />
  </div>
    <div class="left-img">
    <img src="../../assets/AI IMG/mobile.svg" alt="Left Image" class="img-fluid" />
  </div>
</div>


</div>